
<div class="panel panel-default">
  <div class="panel-body">
    <h1>Rotten Mangoes</h1>
  </div>
</div>

<%= link_to "Submit a movie!", new_movie_path, :class => "btn btn-success" %>
<hr>

<div id="main_div">

<%= form_tag(nil, method: 'get') do %>
  <p>
    

  <%= text_field_tag(:search, nil, {placeholder: "Search by moive or director"}) %>
  <%= select_tag(:duration_q, "<option> </option><option>Under 90 minutes</option><option>Between 90 and 120 minutes</option><option>Over 120 minutes</option>".html_safe) %>

  <%= submit_tag('Search') %></p>
<% end %>

<% if @movies.present? %>
  <%= render 'movie' %>
<% else %>
  <p>There are no movies or directors containing the term(s) "<%= params[:search] %>".</p>
<% end %>

</div>
